html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background:#1e1e1e;
  color:#ccc;
  font-family:sans-serif;
  position: relative;
}

#chart {
  position: absolute;
  top: 0;
  left: -3px;
  width: 100%;
  height: 100%;
}

#settingsButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #333;
  color: #ccc;
  border: 1px solid #555;
  padding: 2px 3px;
  cursor: pointer;
  z-index: 10;
}

#settingsButton:hover {
  background: #555;
}